<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Home Control</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/dasbhoard'"> Dashboard </a>
      <a mat-button [routerLink]="'/rooms'"> Rooms </a>
      <a mat-button [routerLink]="'/logging'"> Logging </a>
      <a mat-button [routerLink]="'/status'"> Status </a>
      <a mat-button [routerLink]="'/services-status'"> Services </a>
      <a mat-button [routerLink]="'/network-devices'"> Devices in network </a>
      <a mat-button [routerLink]="'/configuration'"> Configuration </a>
      <a mat-button [routerLink]="'/schedules'"> Schedules </a>


    </div>
  </mat-toolbar-row>
  <router-outlet></router-outlet>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/dasbhoard'"> Dashboard </a>
      <a mat-list-item [routerLink]="'/rooms'"> Rooms </a>
      <a mat-list-item [routerLink]="'/logging'"> Logging </a>
      <a mat-list-item [routerLink]="'/status'"> Status </a>
      <a mat-list-item [routerLink]="'/services-status'"> Services </a>
      <a mat-list-item [routerLink]="'/network-devices'"> Devices in network </a>
      <a mat-list-item [routerLink]="'/configuration'"> Configuration </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>