.svg-wrapper{
  margin: 25px 25px 25px 25px !important;
}

#SVGRoot{
  max-width: 100% !important;
  max-height: 100% !important;
}

rect:hover{
  fill: black !important;
}


.main-container{
  display:flex;
  min-width:100%;
  min-height:100%;
}

.status-container{
  display: flex;
  flex-direction: column;
}

.rooms-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.room-card{
  border-radius: 25px;
  width: 250px;
  height: 350px;
  background-color:white;
  margin: 10px 10px 10px 10px;
}

